*.o
*.so
*.a
*.bin
*.log
*.out
*~
*.gcno
*.d
test
*.Rhistory
*.ods#

bench/NPB3.0-RUB/results/*
bench/stamp-0.9.10/results/*
bench/condtest/bin/*
bench/uts-1.1/config.in
bench/uts-1.1/uts-pthread


bench/NPB3.3.1/NPB3.3-MPI/bin/*
bench/NPB3.3.1/NPB3.3-MPI/*/npbparams.h
bench/NPB3.3.1/NPB3.3-MPI/mpiexec
bench/NPB3.3.1/NPB3.3-MPI/sys/setparams


bench/stamp-0.9.10/genome/genome
bench/stamp-0.9.10/intruder/intruder
bench/stamp-0.9.10/kmeans/kmeans
bench/stamp-0.9.10/labyrinth/labyrinth
bench/stamp-0.9.10/ssca2/ssca2
bench/stamp-0.9.10/vacation/vacation
bench/stamp-0.9.10/yada/yada
bench/stamp-0.9.10/bayes/bayes

bench/memcached-1.4.5/.deps/
bench/memcached-1.4.5/memcached
bench/memcached-1.4.5/memcached-debug
bench/memcached-1.4.5/results/
bench/memcached-1.4.5/sizes
bench/memcached-1.4.5/testapp
bench/memcached-1.4.5/timedrun

bench/memcached-1.4.25/Makefile.in
bench/memcached-1.4.25/aclocal.m4
bench/memcached-1.4.25/doc/Makefile.in
bench/memcached-1.4.25/doc/Makefile
bench/memcached-1.4.25/.deps
bench/memcached-1.4.25/Makefile
bench/memcached-1.4.25/config.h
bench/memcached-1.4.25/config.status
bench/memcached-1.4.25/stamp-h1
bench/memcached-1.4.25/sizes
bench/memcached-1.4.25/testapp
bench/memcached-1.4.25/timedrun
bench/memcached-1.4.25/autom4te.cache/*
bench/memcached-1.4.25/memcached
bench/memcached-1.4.25/memcached-debug

bench/libmemcached-1.0.18/clients/memaslap
bench/libmemcached-1.0.18/libtest/yatlcon.h
bench/libmemcached-1.0.18/libtool
bench/libmemcached-1.0.18/mem_config.h
bench/libmemcached-1.0.18/stamp-h1
bench/libmemcached-1.0.18/support/libmemcached.pc
bench/libmemcached-1.0.18/**/.deps/*
bench/libmemcached-1.0.18/libmemcached-1.0/configure.h
bench/libmemcached-1.0.18/Makefile
bench/libmemcached-1.0.18/aminclude.am
bench/libmemcached-1.0.18/config.status
bench/libmemcached-1.0.18/docs/conf.py
bench/libmemcached-1.0.18/libhashkit/hashkitcon.h
bench/libmemcached-1.0.18/clients/.dirstamp
bench/libmemcached-1.0.18/clients/.libs/
bench/libmemcached-1.0.18/clients/libutilities.la
bench/libmemcached-1.0.18/clients/memcapable
bench/libmemcached-1.0.18/clients/memcat
bench/libmemcached-1.0.18/clients/memcp
bench/libmemcached-1.0.18/clients/memdump
bench/libmemcached-1.0.18/clients/memerror
bench/libmemcached-1.0.18/clients/memexist
bench/libmemcached-1.0.18/clients/memflush
bench/libmemcached-1.0.18/clients/memparse
bench/libmemcached-1.0.18/clients/memping
bench/libmemcached-1.0.18/clients/memrm
bench/libmemcached-1.0.18/clients/memslap
bench/libmemcached-1.0.18/clients/memstat
bench/libmemcached-1.0.18/clients/memtouch
bench/libmemcached-1.0.18/clients/utilities.lo
bench/libmemcached-1.0.18/libhashkit/.dirstamp
bench/libmemcached-1.0.18/libhashkit/.libs/
bench/libmemcached-1.0.18/libhashkit/libhashkit.la
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-aes.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-algorithm.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-behavior.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-crc32.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-digest.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-encrypt.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-fnv_32.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-fnv_64.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-function.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-has.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-hashkit.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-jenkins.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-ketama.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-md5.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-murmur.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-murmur3.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-murmur3_api.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-nohsieh.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-one_at_a_time.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-rijndael.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-str_algorithm.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-strerror.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkit_la-string.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-aes.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-algorithm.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-behavior.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-crc32.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-digest.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-encrypt.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-fnv_32.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-fnv_64.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-function.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-has.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-hashkit.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-jenkins.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-ketama.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-md5.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-murmur.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-murmur3.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-murmur3_api.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-nohsieh.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-one_at_a_time.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-rijndael.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-str_algorithm.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-strerror.lo
bench/libmemcached-1.0.18/libhashkit/libhashkit_libhashkitinc_la-string.lo
bench/libmemcached-1.0.18/libhashkit/libhashkitinc.la
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-aes.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-algorithm.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-behavior.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-crc32.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-digest.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-encrypt.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-fnv_32.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-fnv_64.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-function.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-has.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-hashkit.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-jenkins.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-ketama.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-md5.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-murmur.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-murmur3.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-murmur3_api.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-nohsieh.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-one_at_a_time.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-rijndael.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-str_algorithm.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-strerror.lo
bench/libmemcached-1.0.18/libhashkit/libmemcached_libmemcached_la-string.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-aes.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-algorithm.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-behavior.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-crc32.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-digest.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-encrypt.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-fnv_32.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-fnv_64.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-function.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-has.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-hashkit.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-jenkins.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-ketama.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-md5.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-murmur.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-murmur3.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-murmur3_api.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-nohsieh.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-one_at_a_time.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-rijndael.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-str_algorithm.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-strerror.lo
bench/libmemcached-1.0.18/libhashkit/libmemcachedinternal_libmemcachedinternal_la-string.lo
bench/libmemcached-1.0.18/libmemcached-1.0/t/.dirstamp
bench/libmemcached-1.0.18/libmemcached-1.0/t/.libs/
bench/libmemcached-1.0.18/libmemcached-1.0/t/c_sasl_test
bench/libmemcached-1.0.18/libmemcached-1.0/t/c_test
bench/libmemcached-1.0.18/libmemcached-1.0/t/cc_test
bench/libmemcached-1.0.18/libmemcached/.dirstamp
bench/libmemcached-1.0.18/libmemcached/.libs/
bench/libmemcached-1.0.18/libmemcached/csl/.dirstamp
bench/libmemcached-1.0.18/libmemcached/csl/libmemcached_libmemcached_la-context.lo
bench/libmemcached-1.0.18/libmemcached/csl/libmemcached_libmemcached_la-parser.lo
bench/libmemcached-1.0.18/libmemcached/csl/libmemcached_libmemcached_la-scanner.lo
bench/libmemcached-1.0.18/libmemcached/csl/libmemcachedinternal_libmemcachedinternal_la-context.lo
bench/libmemcached-1.0.18/libmemcached/csl/libmemcachedinternal_libmemcachedinternal_la-parser.lo
bench/libmemcached-1.0.18/libmemcached/csl/libmemcachedinternal_libmemcachedinternal_la-scanner.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached.la
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-allocators.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-analyze.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-array.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-auto.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-backtrace.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-behavior.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-byteorder.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-callback.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-connect.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-delete.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-do.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-dump.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-encoding_key.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-error.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-exist.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-fetch.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-flag.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-flush.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-flush_buffers.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-get.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-hash.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-hosts.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-initialize_query.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-instance.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-io.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-key.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-memcached.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-namespace.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-options.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-parse.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-poll.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-purge.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-quit.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-response.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-result.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-sasl.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-server.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-server_list.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-stats.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-storage.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-strerror.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-string.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-touch.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-udp.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-verbosity.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-version.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcached_la-virtual_bucket.lo
bench/libmemcached-1.0.18/libmemcached/libmemcached_libmemcachedutil_la-backtrace.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-allocators.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-analyze.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-array.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-auto.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-backtrace.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-behavior.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-byteorder.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-callback.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-connect.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-delete.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-do.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-dump.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-encoding_key.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-error.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-exist.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-fetch.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-flag.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-flush.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-flush_buffers.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-get.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-hash.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-hosts.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-initialize_query.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-instance.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-io.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-key.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-memcached.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-namespace.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-options.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-parse.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-poll.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-purge.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-quit.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-response.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-result.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-sasl.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-server.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-server_list.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-stats.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-storage.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-strerror.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-string.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-touch.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-udp.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-verbosity.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-version.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedinternal_la-virtual_bucket.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedinternal_libmemcachedutilinternal_la-backtrace.lo
bench/libmemcached-1.0.18/libmemcached/libmemcachedutil.la
bench/libmemcached-1.0.18/libmemcachedinternal/.dirstamp
bench/libmemcached-1.0.18/libmemcachedinternal/.libs/
bench/libmemcached-1.0.18/libmemcachedinternal/libmemcachedinternal.la
bench/libmemcached-1.0.18/libmemcachedinternal/libmemcachedutilinternal.la
bench/libmemcached-1.0.18/libmemcachedutil/.dirstamp
bench/libmemcached-1.0.18/libmemcachedutil/libmemcached_libmemcachedutil_la-flush.lo
bench/libmemcached-1.0.18/libmemcachedutil/libmemcached_libmemcachedutil_la-pid.lo
bench/libmemcached-1.0.18/libmemcachedutil/libmemcached_libmemcachedutil_la-ping.lo
bench/libmemcached-1.0.18/libmemcachedutil/libmemcached_libmemcachedutil_la-pool.lo
bench/libmemcached-1.0.18/libmemcachedutil/libmemcached_libmemcachedutil_la-version.lo
bench/libmemcached-1.0.18/libmemcachedutil/libmemcachedinternal_libmemcachedutilinternal_la-flush.lo
bench/libmemcached-1.0.18/libmemcachedutil/libmemcachedinternal_libmemcachedutilinternal_la-pid.lo
bench/libmemcached-1.0.18/libmemcachedutil/libmemcachedinternal_libmemcachedutilinternal_la-ping.lo
bench/libmemcached-1.0.18/libmemcachedutil/libmemcachedinternal_libmemcachedutilinternal_la-pool.lo
bench/libmemcached-1.0.18/libmemcachedutil/libmemcachedinternal_libmemcachedutilinternal_la-version.lo
bench/libmemcached-1.0.18/libtest/.dirstamp
bench/libmemcached-1.0.18/libtest/.libs/
bench/libmemcached-1.0.18/libtest/abort
bench/libmemcached-1.0.18/libtest/backtrace
bench/libmemcached-1.0.18/libtest/core-count
bench/libmemcached-1.0.18/libtest/exception/.dirstamp
bench/libmemcached-1.0.18/libtest/exception/libtest_libtest_la-fatal.lo
bench/libmemcached-1.0.18/libtest/libtest.la
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-alarm.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-binaries.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-client.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-cmdline.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-collection.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-comparison.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-core.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-cpu.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-dns.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-dream.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-drizzled.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-exception.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-formatter.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-framework.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-gearmand.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-has.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-http.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-is_local.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-killpid.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-libtool.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-main.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-memcached.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-port.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-result.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-runner.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-server.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-server_container.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-signal.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-socket.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-strerror.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-timer.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-tmpfile.lo
bench/libmemcached-1.0.18/libtest/libtest_libtest_la-vchar.lo
bench/libmemcached-1.0.18/libtest/skiptest
bench/libmemcached-1.0.18/libtest/unittest
bench/libmemcached-1.0.18/libtest/wait
bench/libmemcached-1.0.18/tests/.dirstamp
bench/libmemcached-1.0.18/tests/.libs/
bench/libmemcached-1.0.18/tests/atomsmasher
bench/libmemcached-1.0.18/tests/cycle
bench/libmemcached-1.0.18/tests/failure
bench/libmemcached-1.0.18/tests/hash_plus
bench/libmemcached-1.0.18/tests/libmemcached-1.0/.dirstamp
bench/libmemcached-1.0.18/tests/libmemcached-1.0/.libs/
bench/libmemcached-1.0.18/tests/libmemcached-1.0/internals
bench/libmemcached-1.0.18/tests/libmemcached-1.0/sasl
bench/libmemcached-1.0.18/tests/libmemcached-1.0/testapp
bench/libmemcached-1.0.18/tests/libmemcached-1.0/testsocket
bench/libmemcached-1.0.18/tests/memcapable
bench/libmemcached-1.0.18/tests/memcat
bench/libmemcached-1.0.18/tests/memcp
bench/libmemcached-1.0.18/tests/memdump
bench/libmemcached-1.0.18/tests/memerror
bench/libmemcached-1.0.18/tests/memexist
bench/libmemcached-1.0.18/tests/memflush
bench/libmemcached-1.0.18/tests/memping
bench/libmemcached-1.0.18/tests/memrm
bench/libmemcached-1.0.18/tests/memslap
bench/libmemcached-1.0.18/tests/memstat
bench/libmemcached-1.0.18/tests/memtouch
bench/libmemcached-1.0.18/tests/parser
bench/libmemcached-1.0.18/tests/testhashkit
bench/libmemcached-1.0.18/tests/testplus
bench/libmemcached-1.0.18/tests/testudp

bench/simple-mutex/bin/*
bench/simple-mutex/obj/*
